<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<h1>CALCULADORA</h1>

<div id="app">
   <div>
    nombre : <input type="text" v-model="persona.nombre" />
   </div>
   <div>
    apellido : <input type="text" v-model="persona.apellido" />
   </div>
   <div>
    celular : <input type="text" v-model="persona.celular" />
   </div>
   <div>
    email : <input type="text" v-model="persona.email" />
   </div>

    <button @click="registrar">Registrar</button>
    
    <div>
      <h5>Listado de Estudiantes</h5>
      <ul>
        <li v-for="(data,index) in listado" :key="index">{{ data.nombre }} {{ data.apellido }} - {{ data.celular }} - {{ data.email }}
          <button @click="eliminar(index)" style="margin-left: 10px;">X</button>
        </li>
      </ul>
      <h3>No. Estudiantes: {{ listado.length }}</h3>
    </div>

    <pre>{{$data}}</pre>
</div>

<script>
  const { createApp } = Vue

  createApp({
    data() {
      return {
        persona: {
          nombre: '',
          apellido: '',
          celular: '',
          email: ''
        },
        listado: []
      };
    },
    methods: {
      registrar() {
        const copy = { ...this.persona };
        this.listado.push(copy);
        this.limpiar();
      },
      limpiar() {
        this.persona.nombre = '';
        this.persona.apellido = '';
        this.persona.celular = '';
        this.persona.email = '';
      },
      eliminar(pos) {
        this.listado.splice(pos, 1);
      }
    }
  }).mount('#app');
</script>
