<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<style>
  body {
    background-color: #ccffcc; 
  }

  input[type="text"], input[type="number"] {
    background-color: #f2f2f2; 
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 200px;
  }

  button {
    background-color: #4CAF50; 
    color: white;
    padding: 8px 12px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049; 
  }

  table {
    width: 50%;
    margin-top: 20px;
    border-collapse: collapse;
  }

  table, th, td {
    border: 1px solid black;
    padding: 10px;
  }

  th, td {
    text-align: center; 
  }

  th {
    background-color: #4CAF50; 
    color: white;
  }
</style>

<h1>CALCULADORA</h1>

<div id="app">
  
  nombre: <input type="text" v-model="nombre" /><br />
  edad: <input type="number" v-model="edad" /><br />
  grado: <input type="text" v-model="grado" /><br />

  
  <button @click="registrar">Registrar</button>
  
  <button @click="eliminarTodo">Eliminar Todo</button>

  <h3>Listado de Estudiantes</h3>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Grado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(estudiante, index) in listado" :key="index">
        <td>{{ estudiante.nombre }}</td>
        <td>{{ estudiante.edad }} años</td>
        <td>{{ estudiante.grado }}</td>
        <td>
          <button @click="eliminarUno(index)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <pre>{{$data}}</pre>
</div>

<script>
  const { createApp } = Vue

  createApp({
    data() {
      return {
        nombre: "",
        edad: null,
        grado: "",
        listado: []
      };
    },
    methods: {
      registrar() {
        if (this.nombre && this.edad && this.grado) {
          const nuevoEstudiante = {
            nombre: this.nombre,
            edad: this.edad,
            grado: this.grado
          };
          this.listado.push(nuevoEstudiante);
          this.limpiarCampos(); 
        } else {
          alert("Por favor, completa todos los campos.");
        }
      },
      limpiarCampos() {
        this.nombre = "";
        this.edad = null;
        this.grado = "";
      },
      eliminarTodo() {
        this.listado = [];
      },
      eliminarUno(index) {
        this.listado.splice(index, 1);
      }
    }
  }).mount('#app');
</script>
